.user-details-chat-w{
    width: 30%;
    position: absolute;
}

.user-details-profile-w{
    width: 50%;
    position: absolute;
    margin-left: 30%;

}
.ngx-gallery { display: inline-block; margin-bottom: 20px; }