           <!-- start chat-leftsidebar -->
            <div class="d-flex" *ngIf="!isLoading">
                <div class="chat-leftsidebar me-lg-1 ms-lg-0 w-100">
                    <div>
        <!--                 <div class="px-4 pt-4">
                            <div class="user-chat-nav float-end">
                                <div class="dropdown">
                                    <a href="#" class="font-size-18 text-muted dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-more-2-fill"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0">My Profile</h4>
                        </div> -->
        
                        <div class="text-center p-4 border-bottom">
                            <div class="mb-4">
                                <img src={{userDetails.photoURL}} class="rounded-circle avatar-lg img-thumbnail" alt="">
                            </div>
        
                            <h5 class="font-size-16 mb-1 text-truncate">{{userDetails.knownAs}}</h5>
                            <p *ngIf="(presenceService.onlineUser|async).includes(userDetails.userName)" class="text-muted text-truncate mb-1">
                                <i class="ri-record-circle-fill font-size-10 text-success me-1 ms-0 d-inline-block"></i>
                                 Active
                            </p>
                            <p *ngIf="!(presenceService.onlineUser|async).includes(userDetails.userName)" class="text-muted text-truncate mb-1">
                                <i class="ri-record-circle-fill font-size-10 text-warning me-1 ms-0 d-inline-block"></i>
                                 Inactive
                            </p>
                        </div>
                        <!-- End profile user -->
        
                        <!-- Start user-profile-desc -->
                        <div class="p-4 user-profile-desc" data-simplebar>
                            <div class="text-muted">
                                <p class="mb-4">{{userDetails.introduction}}</p>
                            </div>
        
        
                            <div id="tabprofile" class="accordion">
                                <div class="accordion-item card border mb-2">
                                    <div class="accordion-header" id="about2">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#about" aria-expanded="true" aria-controls="about">
                                            <h5 class="font-size-14 m-0">
                                                <i class="ri-user-2-line me-2 ms-0 ms-0 align-middle d-inline-block"></i> About
                                            </h5>
                                        </button>
                                    </div>
                                    <div id="about" class="accordion-collapse collapse show" aria-labelledby="about2" data-bs-parent="#tabprofile">
                                        <div class="accordion-body">
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Email</p>
                                                <h5 class="font-size-14">{{userDetails.email}}</h5>
                                            </div>
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Age</p>
                                                <h5 class="font-size-14">{{userDetails.age}}</h5>
                                            </div>
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Location</p>
                                                <h5 class="font-size-14 mb-0">{{userDetails.city}}, {{userDetails.country}}</h5>
                                            </div>
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Looking For</p>
                                                <h5 class="font-size-14 mb-0">{{userDetails.lookingFor}}</h5>
                                            </div>
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Joined In</p>
                                                <h5 class="font-size-14">{{userDetails.created |date: "dd-MMM-yyyy"}}</h5>
                                            </div>
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Last Active</p>
                                                <h5 class="font-size-14">{{userDetails.lastActive|timeago}}</h5>
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>
                                 <!-- End About card -->
                                <div class="accordion-item card border mb-2">
                                    <div class="accordion-header" id="interests2">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#interest" aria-expanded="true" aria-controls="interest">
                                            <h5 class="font-size-14 m-0">
                                                <i class="ri-book-2-line me-2 ms-0 ms-0 align-middle d-inline-block"></i> Interests
                                            </h5>
                                        </button>
                                    </div>
                                    <div id="interest" class="accordion-collapse collapse show" aria-labelledby="about2" data-bs-parent="#tabprofile">
                                        <div class="accordion-body">
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Intersts</p>
                                                <h5 class="font-size-14">{{userDetails.interests}}</h5>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                                <!-- End interst card -->
                                <!-- start photos card -->
                                <div class="accordion-item card border mb-2">
                                    <div class="accordion-header" id="interests2">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#interest" aria-expanded="true" aria-controls="interest">
                                            <h5 class="font-size-14 m-0">
                                             <i class="ri-image-2-fill me-2 ms-0 ms-0 align-middle d-inline-block"></i>
                                                 Photos
                                            </h5>
                                        </button>
                                    </div>
                                    <div id="interest" class="accordion-collapse collapse show" aria-labelledby="about2" data-bs-parent="#tabprofile">
                                        <div class="accordion-body">
                                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        
                                        </div>
                                    </div>
                                </div>
                                <!-- End photos card -->
                            </div>
                            <!-- end profile-user-accordion -->
        
                        </div>
                        <!-- end user-profile-desc -->
                    </div>
                 </div>
                <app-chat [userDetails]='userDetails'  class="w-100"> </app-chat>
            </div>


            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
          >
            <p style="font-size: 20px; color: white">Loading...</p>
          </ngx-spinner>