.card:hover img{
transform: scale(1.2,1.2);
transition-duration: 500ms;
transition-timing-function: ease-out;
opacity: 0.9;
}

.card img{
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    }

.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.user-icon{
    position: absolute;
    bottom: -30%;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    color: #7269ef;
    font-size: 15px;
    cursor: pointer;
}
.card-img-wrapper:hover .user-icon {
     bottom: 0 !important; 
    opacity: 1;
} 
 
.list-inline-item{
    margin: auto;
}
