<div class="card mb-4">
 <div class="card-img-wrapper">
    <img *ngIf="user.photos.length>0" src="{{user.photos[0].url}}" alt="{{user.knownAs}} " class="card-img-top"> 
    <img *ngIf="user.photos.length===0" src="{{defaultImage}}" alt="{{user.knownAs}} " class="card-img-top" > 
<ul class="list-inline member-icons animate text-center user-icon">
    <li class="list-inline-item p-1" >
        <button class="btn btn-primary" (click)="showUserDetails(user)">
            <i class="fa fa-user"></i>
        </button>
    </li>
    <li class="list-inline-item p-1">        
        <button class="btn btn-primary">
            <i class="fa fa-heart"></i>
        </button>
    </li>
    <li class="list-inline-item p-1">
        <button class="btn btn-primary">
            <i class="fa fa-envelope"></i>
        </button>
    </li>
</ul>
 </div>
 <div class="card-body p-1">
<h6 class="card-title text-center mb-1">
    <i class="ri-user-2-line mr-2"></i> {{user.knownAs}}
    <p class="card-text text-muted text-center">{{user.city}}</p>
</h6>
 </div>
</div>