<div class="user-chat w-100 overflow-hidden">
    <div class="d-lg-flex" >
            <!-- start chat conversation section -->
            <div class="w-100 overflow-hidden position-relative">
                <!-- chat header -->
                <div class="p-3 p-lg-4 border-bottom user-chat-topbar">
                    <div class="row align-items-center">
                        <div class="col-sm-4 col-8">
                            <div class="d-flex align-items-center">
                                <div class="d-block d-lg-none me-2 ms-0">
                                    <a href="javascript: void(0);" class="user-chat-remove text-muted font-size-16 p-2"><i class="ri-arrow-left-s-line"></i></a>
                                </div>
                                <div class="me-3 ms-0">
                                    <img [src]="userDetails.photoURL" class="rounded-circle avatar-xs" alt="">
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="font-size-16 mb-0 text-truncate">
                                        <a href="#" class="text-reset user-profile-show" *ngIf="userDetails.firstName && userDetails.lastName">{{userDetails.firstName}} {{userDetails.lastName}}</a> 
                                        <i *ngIf="userDetails.firstName && userDetails.lastName" class="ri-record-circle-fill font-size-10 text-success d-inline-block ms-1"></i>
                                    </h5>
                                    <h5 class="font-size-16 mb-0 text-truncate">
                                        <a href="#" class="text-reset user-profile-show" *ngIf="!(userDetails.firstName && userDetails.lastName)">{{userDetails.userName}}</a>
                                         <i *ngIf="!(userDetails.firstName && userDetails.lastName)" class="ri-record-circle-fill font-size-10 text-success d-inline-block ms-1"></i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-4">
                            <ul class="list-inline user-chat-nav text-end mb-0">                                        
                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ri-search-line"></i>
                                        </button>
                                        <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-md">
                                            <div class="search-box p-2">
                                                <input type="text" class="form-control bg-light border-0" placeholder="Search..">
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                    <button type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target="#audiocallModal">
                                        <i class="ri-phone-line"></i>
                                    </button>
                                </li>

                                <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                    <button type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target="#videocallModal">
                                        <i class="ri-vidicon-line"></i>
                                    </button>
                                </li>

                                <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                    <button type="button" class="btn nav-btn user-profile-show" [routerLink]="['/home/user/{{userDetails.id}}']">
                                        <i class="ri-user-2-line"></i>
                                    </button>
                                </li>

                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item d-block d-lg-none user-profile-show" href="#">View profile <i class="ri-user-2-line float-end text-muted"></i></a>
                                            <a class="dropdown-item d-block d-lg-none" href="#" data-bs-toggle="modal" data-bs-target="#audiocallModal">Audio <i class="ri-phone-line float-end text-muted"></i></a>
                                            <a class="dropdown-item d-block d-lg-none" href="#" data-bs-toggle="modal" data-bs-target="#videocallModal">Video <i class="ri-vidicon-line float-end text-muted"></i></a>
                                            <a class="dropdown-item" href="#">Archive <i class="ri-archive-line float-end text-muted"></i></a>
                                            <a class="dropdown-item" href="#">Muted <i class="ri-volume-mute-line float-end text-muted"></i></a>
                                            <a class="dropdown-item" (click)="deleteMessagesThread()">Delete <i class="ri-delete-bin-line float-end text-muted"></i></a>
                                        </div>
                                    </div>
                                </li>                                        
                            </ul>                                    
                        </div>
                    </div>
                </div>
                <!-- end chat user head -->

                <!-- start chat conversation -->
                <div class="chat-conversation p-3 p-lg-4" data-simplebar="init">
                    <ul class="list-unstyled mb-0" *ngFor="let messages of Messages">
                        <li> 
                            <div class="chat-day-title">
                                <span class="title">{{messages[0].dateMessageSent|date:'d/M/yy'}}</span>
                            </div>
                        </li>
                        <li *ngFor="let message of messages" [ngClass]="{'right' : message.receiverUsername ==userDetails.userName}">
                            <div class="conversation-list">
                                <div class="chat-avatar">
                                    <img [src]="message.senderPhotoURL" alt="">
                                </div>

                                <div class="user-chat-content">
                                    <div class="ctext-wrap">
                                        <div class="ctext-wrap-content">
                                            <p class="mb-0">
                                                {{message.content}}
                                            </p>
                                            <p class="chat-time mb-0"><i class="ri-time-line align-middle"></i> <span class="align-middle">{{message.dateMessageSent|date:'h:mm:ss a'}}</span></p>
                                            <p class="chat-time mb-0">
<!--                                             <i class="ri-time-line align-middle" *ngIf="message.dateRead"></i> 
                                            <span class="align-middle" *ngIf="message.dateRead">{{message.dateRead|date:'h:mm:ss a'}}</span>
 -->                                          <!--   <span class="align-middle text-muted" *ngIf="!message.dateRead">Unread 
                                                </span> -->
                                                <svg 
                                                width="16"
                                                height="11"
                                                style="float: right"
                                                viewBox="0 0 16 11" fill="none"
                                                *ngIf="message.senderId==currentUserId"  
                                                [ngClass]="{'text-info':message.dateRead}">
                                                <path d="M11.071.653a.457.457 0 0 0-.304-.102.493.493 0 0 0-.381.178l-6.19 7.636-2.405-2.272a.463.463 0 0 0-.336-.146.47.47 0 0 0-.343.146l-.311.31a.445.445 0 0 0-.14.337c0 .136.047.25.14.343l2.996 2.996a.724.724 0 0 0 .501.203.697.697 0 0 0 .546-.266l6.646-8.417a.497.497 0 0 0 .108-.299.441.441 0 0 0-.19-.374L11.07.653Zm-2.45 7.674a15.31 15.31 0 0 1-.546-.355.43.43 0 0 0-.317-.12.46.46 0 0 0-.362.158l-.292.33a.482.482 0 0 0 .013.666l1.079 1.073c.135.135.3.203.495.203a.699.699 0 0 0 .552-.267l6.62-8.391a.446.446 0 0 0 .109-.298.487.487 0 0 0-.178-.375l-.355-.273a.487.487 0 0 0-.673.076L8.62 8.327Z" fill="currentColor"></path>
                                                </svg>
                                           
                                            </p>

                                        </div>
                                        <div class="dropdown align-self-start">
                                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="copyMessageToClipboard(message.content)">Copy <i class="ri-file-copy-line float-end text-muted"></i></a>
<!--                                                 <a class="dropdown-item" href="#">Save <i class="ri-save-line float-end text-muted"></i></a>
                                                <a class="dropdown-item" href="#">Forward <i class="ri-chat-forward-line float-end text-muted"></i></a> -->
                                                <a class="dropdown-item" (click)="deleteMessage(message.id)">Delete <i class="ri-delete-bin-line float-end text-muted"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                  <!--   <div class="conversation-name">{{message.senderUsername}}</div> -->
                                </div>
                            </div>
                        </li>

  
                    </ul>
                </div>
 
                <!-- end chat conversation end -->

                <!-- start chat input section -->
                <div class="chat-input-section p-3 p-lg-4 border-top mb-0">
                    
                    <div class="row g-0">
                        
                        <div class="col" >
                            <input [(ngModel)]="messageContent" type="text" class="form-control  bg-light border-light" placeholder="Enter Message...">
                        </div>
                        <div class="col-auto">
                            <div class="chat-input-links ms-md-2 me-md-0">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Emoji">
                                        <button type="button" class="btn btn-link text-decoration-none font-size-16 btn-lg waves-effect">
                                            <i class="ri-emotion-happy-line"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Attached File">  
                                        <button type="button" class="btn btn-link text-decoration-none font-size-16 btn-lg waves-effect">
                                            <i class="ri-attachment-line"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button type="submit" class="btn btn-primary font-size-16 btn-lg chat-send waves-effect waves-light" (click)="sendMessage()">
                                            <i class="ri-send-plane-2-fill"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- end chat input section -->
            </div>
            <!-- end chat conversation section -->

    </div>
    <!-- End User chat -->

    <!-- audiocall Modal -->
    <div class="modal fade" id="audiocallModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center p-4">
                        <div class="avatar-lg mx-auto mb-4">
                            <img src="assets/images/users/avatar-4.jpg" alt="" class="img-thumbnail rounded-circle">
                        </div>

                        <h5 class="text-truncate">Doris Brown</h5>
                        <p class="text-muted">Start Audio Call</p>

                        <div class="mt-5">
                            <ul class="list-inline mb-1">
                                <li class="list-inline-item px-2 me-2 ms-0">
                                    <button type="button" class="btn btn-danger avatar-sm rounded-circle" data-bs-dismiss="modal">
                                        <span class="avatar-title bg-transparent font-size-20">
                                            <i class="ri-close-fill"></i>
                                        </span>
                                    </button>
                                </li>
                                <li class="list-inline-item px-2">
                                    <button type="button" class="btn btn-success avatar-sm rounded-circle">
                                        <span class="avatar-title bg-transparent font-size-20">
                                            <i class="ri-phone-fill"></i>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
    <!-- audiocall Modal -->

    <!-- videocall Modal -->
    <div class="modal fade" id="videocallModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center p-4">
                        <div class="avatar-lg mx-auto mb-4">
                            <img src="assets/images/users/avatar-4.jpg" alt="" class="img-thumbnail rounded-circle">
                        </div>

                        <h5 class="text-truncate">Doris Brown</h5>
                        <p class="text-muted mb-0">Start Video Call</p>

                        <div class="mt-5">
                            <ul class="list-inline mb-1">
                                <li class="list-inline-item px-2 me-2 ms-0">
                                    <button type="button" class="btn btn-danger avatar-sm rounded-circle" data-bs-dismiss="modal">
                                        <span class="avatar-title bg-transparent font-size-20">
                                            <i class="ri-close-fill"></i>
                                        </span>
                                    </button>
                                </li>
                                <li class="list-inline-item px-2">
                                    <button type="button" class="btn btn-success avatar-sm rounded-circle">
                                        <span class="avatar-title bg-transparent font-size-20">
                                            <i class="ri-vidicon-fill"></i>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->
</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>